.star-icon {
  cursor: pointer;
  transition: transform 0.3s ease;

}

.star-icon:not(.clicked) {
  stroke: #808080; /* Gris pour l'état non cliqué */
}

.star-icon:hover {
  transform: scale(1.2);
}

.star-icon.clicked {
  fill: #FFD700; /* Jaune pour l'état cliqué */
  stroke: #FFD700; /* Ajustez également la couleur du stroke en jaune pour l'état cliqué */

}